/* 

Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap"); /*Pixelfiy Sans, Silkscreen, Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); /*Inter*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,900;1,900&display=swap")
  /*Exo2*/
  /*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/
  @import url("animated-gradient.css");
@import url("text-stroke.css");
@import url("stroke-shadow.css");
@import url("scroll-to-top.css");
/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables. Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  /*brand typefaces*/
  --body-typeface: "Poppins", sans-serif;
  --heading-typeface: "Silkscreen", sans-serif;
  --heading2-typeface: "Pixelfy+Sans", sans-serif;
  --project-title-typeface: "Eczar", serif;
  /*brand colors*/
  --blue1: #2167db; /*blue for white*/
  --blue2: #3f7adc; /*blue for black*/
  --blue3: #133b7e; /*better blue for white*/
  --yellow1: #feda29; /*brand yellow*/
  --yellow2: #c59209; /*darker yellow still not contrasty enough on white for text*/
  --light: #fff;
  --dark: #000;
  --light-grey: #f3f3f3;
  --dark-grey: #0f1317;
  --transparent: rgba(0, 0, 0, 0);

  /*active colors colors*/
  --bg-color: var(--light);
  --bg-color2: var(--light-grey);
  --primary-color: var(--blue1);
  --secondary-color: var(--yellow1);
  --text-color: var(--dark);
  --link-color: var(--blue3);
  --hover-color: var(--primary-color);
  --heading-color: var(--blue1);

  /*logo colors*/
  --teeth: var(--light);
  --outline: var(--blue1);
  --skin: var(--yellow1);

  --accent-color: #feda29;
  --visited-color: #d1a410;

  /*project stuff*/
  --project-image-1: url(/assets/prep-photos/jacob-chong_3030_prep_image.jpg);
  --project-image-2: url(/assets/project-images/susan-rodgers/jacob-chong-ui-ux-webflow-susan-rodgers-vancouver-bc-humble-hound-2024-logo.svg);
  --project-image-3: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/316293/phone.jpg);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--dark);
    --bg-color2: var(--dark-grey);
    --text-color: --light-grey;
    --primary-color: var(--yellow1);
    --secondary-color: var(--blue2);
  }
}
body {
  font-family: var(--body-typeface);
  color: var(--text-color);
  background: var(--bg-color2);
  display: flex;
  flex-direction: column;
}
/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--secondary-color);
}

/* Make all images responsive */
img,
svg {
  height: 80vh;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}
.mobile-hidden {
  display: none;
}
.desktop-hidden {
  display: flex;
}
.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}

.menu li button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2rem;
  font-family: var(--heading-typeface);
  font-weight: 900;
  color: var(--text-color);
}

h2 {
  font-size: 2.25rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--text-color);
}

h3 {
  font-size: 1.325rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--text-color);
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: var(--text-color);
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.875rem;
}

.overlay-title {
  font-size: 2.875rem;
  color: white;
}

.overlay-description {
  color: white;
}

/* Hyperlink Styles */

a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}

a:focus {
  outline: 1px solid var(--primary-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

/* .footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
} */

.body-text-1 {
  font-family: var(--body-typeface);
  font-size: calc(1rem + 1vw);
  line-height: calc(15px + 2.4vw);
}
.project-title {
  width: 80vw;
  height: auto;
  font-size: calc(0.5rem + 3.5vw);
  font-family: var(--heading-typeface);
  font-weight: 400;
  margin-bottom: 0.5vh;
  letter-spacing: normal;
}
.project-description {
  font-size: 1.225rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.nav-item,
#colorChange {
  /*nav link font*/
  font-family: var(--heading-typeface);
  font-size: calc(1.7rem + 2vw);
  display: flex;
  padding: 5vh;
  color: var(--bg-color);
  text-decoration: none;
  margin-right: 0;
  padding-right: 0;
  background: none;
  border: none;
  transition: all 0.4s;
}
.menu li {
  display: flex;
  flex-direction: row;
  margin-right: 6vw;
}
.menu li .contact-buttons {
  margin-right: 6.3vw;
}
.menu li button {
  font-size: 1rem;
  font-family: var(--heading-typeface);
  font-size: calc(1.7rem + 2vw);
  display: flex;
  padding: 5vh;
  color: var(--bg-color);
  text-decoration: none;
  margin-right: 0vw;
  padding-right: 0;
  background: none;
  border: none;
  transition: all 0.4s;
}
.nav-item:hover,
.menu li button:hover,
#colorChange:hover {
  color: var(--secondary-color);
}
.subhead {
  font-size: calc(0.9rem + 0.8vw);
  font-family: var(--heading-typeface);
}
.about-text h2 {
  color: var(--primary-color);
}
/*for animations*/
.content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.content.fade-in {
  opacity: 1;
}

.content.fade-out {
  opacity: 0;
}

/* Nav

███    ██  █████  ██    ██ 
████   ██ ██   ██ ██    ██ 
██ ██  ██ ███████ ██    ██ 
██  ██ ██ ██   ██  ██  ██  
██   ████ ██   ██   ████                        

*/

/*

nav burger icon

*/
.burger-container {
  background: var(--transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0vw;
  position: relative;
  z-index: 3;
}
#menu-toggle {
  display: none;
}

.menu-icon {
  pointer-events: all;
  --s: 5vw; /* size */
  --bg: #0000; /*background color*/
  position: relative;

  height: var(--s);
  aspect-ratio: 4/3;
  border: none; /*changed from none*/
  margin: 0; /*changed by adding at all*/
  padding: 0; /*changed from 0*/
  border-inline: calc(var(--s) / 2) solid var(--bg); /*white mask that the bars fade into*/
  box-sizing: content-box;
  --_g1: linear-gradient(
      var(--text-color) 20%,
      var(--transparent) 0 80%,
      var(--text-color) 0
    )
    no-repeat content-box border-box; /*the 20% is top bar color 80% is bottom bar*/
  --_g2: radial-gradient(
      circle closest-side at 50% 12.5%,
      var(--text-color) 95%,
      var(--transparent)
    )
    repeat-y content-box border-box; /*the rounded bits of the burger on top and bottom*/
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%,
    /*refers to background 1 and 3 which are the radial gradients for top and bottom bar first number the width of the gradient but visually refers to how close to the middle the dots are 100% equals in the middle. The second number refers to the height of the backgrounds. Because it is set to repeat-y if it is smaller than 100% you get a repeated background in the form of the bottom radial gradients  */
      50% 100%; /*similar concept above but for the top and bottom bars first is width again and second is height*/
  position: relative;
  /*clip-path: inset(0 25%);*/ /*defines which part of the element is visible by creating a clipping area. 0 means no clipping at the top or bottom 25% means 25% of the width is hidden on the left and right side. From what I can tell you can have it at 0% and it won't effect the animation. With it, it hides the border-inline bars that we used earlier to hide the bars disappearing*/
  -webkit-mask: linear-gradient(
    90deg,
    var(--transparent) 20%,
    #000 25% 75%,
    var(--transparent) 80%
  ); /*similar to clip-path but it creates a gradient */
  cursor: pointer;
  mask: linear-gradient(
    90deg,
    var(--transparent) 20%,
    #000 25% 75%,
    var(--transparent) 80%
  ); /* Standard */
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s), transform 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 3;
}
.menu-icon:before,
.menu-icon:after/*defines the bars that are in the middle and that will make up the x before is the bar the goes like \ and after goes like /*/ {
  content: "";
  position: absolute; /*These pseudo-elements are positioned relative to the .menu element (since the parent has position: relative*/
  border-radius: var(--s); /*rounds the corners*/
  inset: 40% 0; /*inset: 40% 0; places the pseudo-element 40% from the top and bottom of the parent element, leaving 0 space on the left and right. This ensures that the pseudo-element is vertically centered within the .menu and occupies full width.*/
  background: var(--text-color); /*sets color of bar*/
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
} /* This section sets up the middle bar for the hamburger*/

.menu-icon:before,
.menu-icon:after {
  transform: rotate(0deg);
}
.menu-icon.open {
  clip-path: inset(0); /*removes any clip-path set earlier when in X form*/
  --_p: calc(-1 * var(--s));
  --_s: 0s;
  --_g1: linear-gradient(
    var(--transparent) 20%,
    var(--transparent) 0 80%,
    var(--transparent) 0
  );
}
.menu-icon.open:before {
  transform: rotate(36.36deg);
}
.menu-icon.open:after {
  transform: rotate(-36.36deg);
}
.menu-icon:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  mask: none;
  border: none;
  outline: 2px solid var(--text-color);
  outline-offset: 5px;
}

/*

logo colors and color change stuff

*/
.yellow {
  fill: var(--skin);
}
.yellow,
.cls-2,
.blue,
.white {
  stroke-width: 0px;
}
.cls-2 {
  fill: var(--text-color);
}
.blue {
  fill: var(--outline);
}
.name {
  fill: var(--primary-color);
}
.white {
  fill: var(--teeth);
}
.cls-5 {
  display: none;
}
.blue,
yellow,
.white {
  transition: fill 0.5s ease;
}
* {
  transition: color 0.5s ease;
}
/*

brand logo

*/
.nav {
  position: sticky;
  top: 0px;
}
.navwrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: var(--bg-color);
  padding: 2vw 5vw 2vw 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17vw;
  width: 100%;
}
.logo-span {
  display: flex;
  justify-content: flex-start;
  height: 17vw;
  pointer-events: all;
  align-items: center;
}
.home_logo {
  width: auto;
  height: auto;
}
#svgStatic {
  width: auto;
  height: 13vw;
  display: block;
}
#svgAnimated {
  display: none;
}

/*

drop down menu

*/
.menu {
  list-style: none;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  padding-top: 5vh;
  margin-top: 17vw;
  margin-left: 35vw;
  width: 65vw;
  height: 100vh;
  display: flex;
  background: var(--text-color);
  transition: all 0.4s ease-out 0s;
  z-index: 2;
  pointer-events: all;
}

.menu li {
  pointer-events: all;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Start slightly below their final position */
  transition: all 0.4s ease-out 0s; /* Smooth transition */
}
.menu li:nth-child(1) {
  transition-delay: 0.3s;
}
.menu li:nth-child(2) {
  transition-delay: 0.6s;
}
.menu li:nth-child(3) {
  transition-delay: 0.9s;
}

/* On menu visibility change */
.menu.visible li {
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Move to final position */
}

/* Checkbox (menu toggle) hidden */
#menu-toggle {
  display: none;
}
.visuallyhidden {
  opacity: 0;
  margin-left: 100vw;
}
.menu.visuallyhidden li a {
  opacity: 0;
}
/* Home 

██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗  
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝                                            

*/
.work-page {
  max-height: 100vh;
  position: relative;
  z-index: -5;
}
.project-info {
  display: flex;
  flex-direction: column;
}
.home-page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0vw 4vw;
  z-index: -4;
}
/*Intro

██ ███    ██ ████████ ██████   ██████  
██ ████   ██    ██    ██   ██ ██    ██ 
██ ██ ██  ██    ██    ██████  ██    ██ 
██ ██  ██ ██    ██    ██   ██ ██    ██ 
██ ██   ████    ██    ██   ██  ██████  

*/
.project-info {
  width: 100%;
  display: flex;
  align-items: center;
}
.intro {
  margin: 4vh 0;
  width: 70vw;
}
.intro-headline-wrapper {
}
/*Titles

████████ ██ ████████ ██      ███████ ███████ 
   ██    ██    ██    ██      ██      ██      
   ██    ██    ██    ██      █████   ███████ 
   ██    ██    ██    ██      ██           ██ 
   ██    ██    ██    ███████ ███████ ███████

*/
.project-titles {
  display: none;
}
/* Work Page Project Display

██████  ██████   ██████       ██ ███████  ██████ ████████ ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██    ██      
██████  ██████  ██    ██      ██ █████   ██         ██    ███████ 
██      ██   ██ ██    ██ ██   ██ ██      ██         ██         ██ 
██      ██   ██  ██████   █████  ███████  ██████    ██    ███████ 

*/
.portfolio-wrapper {
  z-index: -3;
}
.portfolioPiece1,
.portfolioPiece2,
.portfolioPiece3 {
  position: relative;
  display: flex;
  opacity: 1;
  z-index: -1;
  width: 90vw;
  overflow: hidden;
  background-image: none;
}
.keyInfo {
  display: flex;
  align-items: center;
}
.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2vh 0 4vh 0;
  width: 80vw;
}
.mobile-project-images {
  display: flex;
  opacity: 1;
  z-index: -1;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.project-image-1 {
  background-image: var(--project-image-1);
}
.project-image-2 {
  background-image: var(--project-image-2);
  background-size: 60%;
}
.project-image-3 {
  background-image: var(--project-image-3);
}
.keyInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.project-1-image,
.project-2-image,
.project-3-image {
  position: relative;
  display: flex;
  opacity: 1;
  width: 80%;
}

/* 

 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗
██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝
███████║██████╔╝██║   ██║██║   ██║   ██║   
██╔══██║██╔══██╗██║   ██║██║   ██║   ██║   
██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║   
╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝   
                                           
*/
.about-wrapper {
  display: flex;
  background: var(--bg-color2);
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 3vh;
}

.about-me {
  width: 33%;
  height: 700px;
  background-color: pink;
  background-color: var(--bg-color2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 4vw;
}
.portrait {
  width: 25vw;
  height: auto;
  background-color: red;
  aspect-ratio: 1 / 1;
  margin-bottom: 5vh;
  border-radius: 8px;
  object-fit: cover;
  object-position: 50% 100%;
}

.about-text {
  width: 67%;
  height: 700px;
  background-color: blue;
  background-color: var(--bg-color2);
  padding-right: 4vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-fun {
  width: 100%;
  height: calc(36vh - 6dvw);
  /* background-color: lightblue; */
}
.about-footer {
  width: 100%;
  height: 10vh;
  background-color: green;
  background-color: var(--bg-color2);
  border-top: solid 3px var(--secondary-color);
  display: flex;
  align-items: center;
}
#ticker {
  overflow: hidden; /* Hides overflow for smooth ticker effect */
  white-space: nowrap; /* Keeps content in a single line */
}

#ticker p {
  margin: 0;
  display: inline-block;
  padding-left: 100%;
  animation: tickerTape 45s linear infinite;
}

@keyframes tickerTape {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Moves through duplicated content */
  }
}

/* Project Pages 

██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗███████╗
██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝██╔════╝
██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║   ███████╗
██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║   ╚════██║
██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║   ███████║
╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝   ╚══════╝
                                                                                               
*/
.light {
  color: white;
}
.dark {
  color: #000;
}
.project-hero-image {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 50vh;
  position: relative;
  border: none;
  object-fit: cover;
  overflow: clip;
  margin-left: 0vw;
  margin-bottom: 4vh;
}
.project-page {
  pointer-events: none;
}
.hero-wrapper {
  background-color: var(--bg-color);
  position: relative;
  z-index: -20;
}
.project-hero {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  background-image: none; /*changed*/
  background-position: center; /*changed*/
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #000;
  margin-top: 0; /*changed*/
  position: relative;
  z-index: -4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /*changed*/
  padding-left: 8.5%; /*changed*/
  padding-bottom: 0%; /*changed*/
  padding-right: 8.5%; /*changed*/
  margin-bottom: -10vh;
}
.project-page-title {
  font-family: var(--heading-typeface);
  font-weight: 400;
  font-size: 15vw;
  letter-spacing: normal;
  margin-bottom: 1rem;
}
.project-date {
  font-family: var(--heading-typeface);
  font-weight: 400;
  letter-spacing: normal;
}
.details {
  line-height: 5vw;
  font-size: 5vw;
}
.project-genre {
  font-family: var(--heading-typeface);
  font-weight: 400;
  letter-spacing: normal;
}
.collaborators {
  font-size: 5vw;
  font-family: var(--heading-typeface);
  font-weight: 400;
  line-height: 7vw;
  letter-spacing: normal;
  margin-bottom: .5vh;
}
.project-headline {
  font-size: 4.3vw;
  font-family: var(--body-typeface);
  font-weight: 400;
  width: 100%;
  letter-spacing: normal;
}
.project-explanation {
  width: 100%;
  height: 30%;
  transition: opacity 0.2s ease-in-out; /* Smooth transition */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction:column;
  margin-top: 5vh;
}
.heading-text{
  font-size: 1.5rem;
  font-family: var(--body-typeface);
  font-weight:600;
  letter-spacing: normal;
  padding: 0px 3vw 0px 3vw;
  margin:0;
}
.explanation-text {
  font-size: 1.5rem;
  font-family: var(--body-typeface);
  font-weight: 400;
  letter-spacing: normal;
  padding: 0px 3vw 0px 3vw;
}
.project-screen {
  height: 85vh;
  width: 100%;
  display: none;
  flex-direction: row;
  z-index: -6;
  position: relative;
  margin-top: 20vh;
  padding-right: 0;
}
.project-trigger {
  width: 30%;
  height: 80vh;
  transition: opacity 0.2s ease-in-out; /* Smooth transition */
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0; /* hide it */
  z-index: -2;
  position: relative;
}
.project-screen-bg {
  height: 100%;
  width: 30%;
  z-index: -19;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 65%; /*changed*/
  background-color: var(--bg-color2);
}

.project-show {
  width: 100%;
  height: auto;
  /* background-color: darkblue; */
  transition: opacity 0.2s ease-in-out; /* Smooth transition */
  display: flex;
  flex-direction: column-reverse; /*changed*/
  padding: 0 5% 0 5%; /*changed*/
  justify-content: center;
  align-items: center;
  opacity: 1; /* Start hidden */ /*changed*/
  z-index: -5;
  position: relative; /*changed*/
  margin-top: 10vh;
}
.project-visuals {
  transition: opacity 0.2s ease-in-out;
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
  background-color: var(--bg-color);
  gap:4vw;
}
.project-visuals .svgator-animation {
  height: auto;
  width: auto;
  /* border: var(--primary-color) 1px solid; */
  filter: drop-shadow(1px 1px 2px var(--text-color));
}
.project-visuals .image {
  width: 80vw;
  height: auto;
}

/* Project Page Flex Direction on Large Devices */
.project-wrapper {
  flex-direction: row;
}
.img-shift {
  height: auto;
  width: 75%;
  margin-bottom: 5vh;
  margin-right: -65%;
  filter: drop-shadow(1px 1px 2px var(--text-color));
}
.img-shift2 {
  height: auto;
  width: 80%;
  margin-top: 30vh;
  margin-left: 0;
  filter: drop-shadow(1px 1px 2px var(--text-color));
}
.slider {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust based on card content */
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel {
  height: 1000px;
  position: relative;
}
.card {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
}

.card.active {
  opacity: 1;
  visibility: visible;
}

.card .carousel-desktop-img {
  width: 90vw;
  max-width: 400px;
  height: auto;
}

.card .carousel-mobile-img {
  width:90vw;
  max-width: 400px;
  height: auto;
}

.project-btn {
  position: absolute;
  z-index: 6;
  top:auto;
  transform: translateY(-50%);
  /* background: rgba(0, 0, 0, 0.5); */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.project-btn.prev-button {
  left: 1vw;
  bottom: 3vh;
  pointer-events: all;
}

.project-btn.next-button {
  right: 1vw;
  bottom: 3vh;
  pointer-events: all;
}

.carousel-indicators {
  text-align: center;
  margin-top: 10px;
}

/**/
.susan-bg {
  background-image: url(../assets/project-images/susan-rodgers/jacob-chong-ui-ux-webflow-susan-rodgers-vancouver-bc-humble-hound-2024-film-maker-portfolio-site-hero.JPG);
  background-color: #000;
}

.thirty-30-bg{
  background-image: url(../assets/project-images/3030/jacob-chong-ui-ux-30-30-vancouver-bc-capilano-university-2024-cover-image.jpg);
  background-color: #fff;
}

/*
███████╗████████╗██╗   ██╗██╗     ███████╗     ██████╗ ██╗   ██╗██╗██████╗ ███████╗
██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝    ██╔════╝ ██║   ██║██║██╔══██╗██╔════╝
███████╗   ██║    ╚████╔╝ ██║     █████╗      ██║  ███╗██║   ██║██║██║  ██║█████╗  
╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝      ██║   ██║██║   ██║██║██║  ██║██╔══╝  
███████║   ██║      ██║   ███████╗███████╗    ╚██████╔╝╚██████╔╝██║██████╔╝███████╗
╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝     ╚═════╝  ╚═════╝ ╚═╝╚═════╝ ╚══════╝
 */

.style-guide-page-wrapper {
  padding: 3rem;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

.error-page {
  display: grid;
  place-items: center;
}

.error-page-wrapper {
  height: 80vh;
}

.error-page-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 20%;
  padding-top: 15%;
}

.error-page-title {
  color: var(--primary-color);
  font-family: var(--heading2-typeface);
  font-size: 20vh;
}

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-wrapper {
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*
███████ ██   ██ ██████  ███████ ██████  ██ ███    ███ ███████ ███    ██ ████████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██ ██ ████  ████ ██      ████   ██    ██    ██      
█████     ███   ██████  █████   ██████  ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ 
██       ██ ██  ██      ██      ██   ██ ██ ██  ██  ██ ██      ██  ██ ██    ██         ██ 
███████ ██   ██ ██      ███████ ██   ██ ██ ██      ██ ███████ ██   ████    ██    ███████ 
*/

.experiments-page {
  display: grid;
  place-items: center;
}

.experiments-page-inner-container {
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experiments-page-title {
  color: var(--accent-color);
  font-size: 2rem;
}

.experiment-1-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
}

.experiment-2-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

.sub-navigation-item {
}

a.sub-navigation-link {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 1rem;
}

a.sub-navigation-link:hover {
  color: var(--accent-color);
  padding: 1rem;
}

/* Let's size the boxes */

.experiment-box {
  width: 50%;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.image {
  width: 40%;
}

/* Let's hide box 2 */

.experiment-image-2 {
  display: none;
}

.experiment-image-single {
  width: 20rem;
  padding: 2rem;
  display: grid;
  place-items: center;
}

#heyday-logo-blue {
  animation: rotation 9s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .mobile-hidden {
    display: flex;
  }
  .desktop-hidden {
    display: none;
  }
  /*
  
  █████  ████  ██  ██ █████
    █    ███     ██     █  
    █    ████  ██  ██   █
    
  */
  .body-text-1 {
    font-size: calc(15px + 1vh);
    line-height: calc(15px + 2vh);
  }
  .project-title {
    width: 25vw;
    height: auto;
    font-size: calc(0.6rem + 2.1vh);
    margin-bottom: 0;
  }
  .nav-item,
  #colorChange {
    font-size: calc(1rem + 2.5vw);
    padding-right: 0;
  }
  .subhead {
    font-size: calc(1rem + 1vw);
    font-family: var(--heading-typeface);
  }
  /* Nav

    ██  ██  ███  ██    ██ 
    ███ ██ █████  ██  ██
    ██ ███ █   █   ████

  */

  .navbar {
    height: 20vh;
  }
  .logo-span {
    height: 15vw;
    max-height: 16vh;
  }
  #svgAnimated {
    height: 23vw;
    width: auto;
    max-height: 19.5vh;
    display: block;
  }
  #svgStatic {
    display: none;
  }
  .menu-icon {
    --s: calc(5px + 2vw);
    position: relative;
  }
  .menu-icon.open:before,
  .menu-icon.open:after {
    background-color: var(--bg-color);
  }
  .menu {
    margin-left: 60vw;
    width: 40vw;
    margin-top: 0vh;
    padding-top: 20vh;
    height: 100vh;
  }
  .visuallyhidden {
    margin-left: 100vw;
  }
  /* intro
      ████ ██  ██ ██████ ████   █████
       ██  ███ ██   ██   ████  ██   ██   
      ████ ██ ███   ██   ██ ██  █████ 
  */
  .home-page-wrapper {
    flex-direction: row;
    display: flex;
    height: 80vh;
    max-height: 80vh;
    padding: 0;
    overflow: hidden;
  }
  .project-info {
    width: 30%;
    height: 80vh;
    display: flex;
    align-items: center;
  }
  .intro {
    margin: 8vh 0 0 0;
    width: 25vw;
  }
  /* titles
      ██████ ████ ██████ ██  ████  
        ██    ██    ██   ██  ███ 
        ██   ████   ██   ███ ████
  */
  .project-titles {
    display: flex;
    width: 25vw;
    align-items: flex-start;
    margin: 4vh 0 5vh 0;
  }
  .project-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #project-title-1,
  #project-title-2,
  #project-title-3 {
    transition: background-color 0.2s ease, transform 0.2s ease;
    -webkit-transition: background-color 0.2s ease, transform 0.2s ease;
    -ms-transition: background-color 0.2s ease, transform 0.2s ease;
    display: flex;
    width: 23vw;
    height: auto;
    align-items: flex-start;
    margin-top: 0.5vh;
  }
  #project-title-1:hover,
  #project-title-2:hover,
  #project-title-3:hover {
    transform: translate(-5px, -5px);
    background-color: var(--secondary-color);
  }
  .info-wrapper {
    margin: 0;
  }

  /* Work
      ██    ██  █████  ████   ██ ██ 
      ██ ██ ██ ██   ██ ████   ███   
       ██  ██   █████  ██  ██ ██ ██ 
  */

  .info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2vh 0 4vh 0;
  }
  .portfolio-wrapper {
    overflow: hidden;
    position: absolute;
    top: 20vh;
    left: 30vw;
    right: 0;
    bottom: 0;
    width: 70%;
    display: flex;
    justify-content: center;
  }
  .portfolio {
    padding: 0;
    margin: 0;
    display: block;
  }
  .project-1-image,
  .project-2-image,
  .project-3-image {
    display: none;
  }
  .keyInfo {
    display: none;
  }
  .portfolioPiece1,
  .portfolioPiece2,
  .portfolioPiece3 {
    position: absolute;
    top: 0vw;
    bottom: 0vw;
    display: flex;
    opacity: 1;
    z-index: -1;
    width: 70vw;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .portfolioPiece1 {
    background-image: var(--project-image-1);
  }
  .portfolioPiece2 {
    background-image: var(--project-image-2);
    background-size: 60%;
    margin-top: -5vh;
    display: none;
    z-index: -2;
  }
  .portfolioPiece3 {
    background-image: var(--project-image-3);
    display: none;
    z-index: -2;
  }

  /* About
 ███  ██    █████  ██  ██ ██████ 
█████ ████ ██   ██ ██  ██   ██    
█   █ ████  █████   ████    ██    
  */

  .about-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    height: 130vh;
  }
  .portrait {
    width: 50vh;
    max-width: 90%;
    height: auto;
    margin-top: 16vh;
  }
  .about-me {
    width: 35%;
    height: 130vh;
    display: flex;
    padding-left: 4vw;
    margin: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about-text {
    width: 65%;
    height: 60vh;
  }
  .about-fun {
    width: 65%;
    height: 67vh;
  }
  .about-footer {
    height: 10vh;
  }

  /*
████ ████    █████    ██ ████ ████ ██████
████ ████   ██   ██   ██ ███  ██     ██
█    ██  ██  █████  ████ ████ ████   ██
  */
  .light {
    color: white;
  }
  .dark {
    color:#000;
  }
  .project-page {
    pointer-events: none;
  }
  .project-trigger {
    display: flex;
  }
  .hero-wrapper {
    background-color: var(--bg-color);
    position: relative;
    z-index: -20;
  }
  .project-hero {
    height: 80vh;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 68%;
    margin-top: -1.2vh;
    position: relative;
    z-index: -4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2.5%;
    padding-bottom: 3%;
    padding-right: 30%;
    margin-bottom: 40vh;
  }
  .project-page-title {
    font-size: 5rem;
    font-family: var(--heading-typeface);
    font-weight: 400;
    letter-spacing: normal;
    margin-bottom: 1rem;
  }
  .project-date {
    font-size: 1.5rem;
    font-family: var(--heading-typeface);
    font-weight: 400;
    letter-spacing: normal;
  }
  .details {
    line-height: 1rem;
  }
  .project-genre {
    font-size: 1.5rem;
    font-family: var(--heading-typeface);
    font-weight: 400;
    letter-spacing: normal;
  }
  .collaborators {
    font-size: 1.5rem;
    font-family: var(--heading-typeface);
    font-weight: 400;
    letter-spacing: normal;
  }
  .project-headline {
    font-size: 2rem;
    font-family: var(--body-typeface);
    font-weight: 400;
    width: 50vw;
    letter-spacing: normal;
  }
  .project-explanation {
    width: 30%;
    height: 100%;
    /* background-color: darkblue; */
    transition: opacity 0.2s ease-in-out; /* Smooth transition */
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top:0;
  }
  .heading-text{
    font-size: 3.5rem;
    font-family: var(--body-typeface);
    font-weight:600;
    letter-spacing: normal;
    padding: 0px 3vw 0px 3vw;
  }
  .explanation-text {
    font-size: 1.5rem;
    font-family: var(--body-typeface);
    font-weight: 400;
    letter-spacing: normal;
    padding: 0px 3vw 0px 3vw;
  }
  .project-screen {
    display: flex;
  }

  .project-show {
    width: 100%;
    height: 80vh;
    flex-direction: row;
    opacity: 0; /* Start hidden */
    position: fixed;
    padding: 0;
    left: 0;
    bottom: 0;
    top: 20vh;
    right: 0;
    margin-top: 0;
  }
  .project-visuals {
    transition: opacity 0.2s ease-in-out;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: var(--bg-color);
  }
  .project-visuals .image,
  .project-visuals .svgator-animation {
    height: 50vh;
    /* border: var(--primary-color) 1px solid; */
    filter: drop-shadow(1px 1px 2px var(--text-color));
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;
  }
  .img-shift {
    height: auto;
    width: 50%;
    margin-bottom: 30vh;
    margin-right: -10%;
  }
  .img-shift2 {
    height: auto;
    width: 50%;
    margin-top: 30vh;
    margin-left: -10%;
  }
  .slider {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust based on card content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel {
    height: 100%;
  }
  .card {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    flex-direction: row;
  }

  .card.active {
    opacity: 1;
    visibility: visible;
  }

  .card .carousel-desktop-img {
    width: 60%;
    max-width: none;
    height: auto;
  }

  .card .carousel-mobile-img {
    width: 16.6%;
    max-width: none;
    height: auto;
  }

  .project-btn {
    position: absolute;
    z-index: 6;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .project-btn.prev-button {
    left: 10px;
    bottom:auto;
    pointer-events: all;
  }

  .project-btn.next-button {
    right: 10px;
    bottom:auto;
    pointer-events: all;
  }
  .carousel-indicators {
    text-align: center;
    margin-top: 10px;
  }
}

h1 {
  font-size: 4.275rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.625rem;
}

.hero {
  min-height: 100vh;
}

.hero-headline-wrapper {
  padding: 4rem 8rem;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}

/* Grayscale filter with full-colour on hover and tap */
.work-page-grid-item a.grayscale img {
  filter: grayscale(100);
}

.work-page-grid-item > a.grayscale:active img,
.work-page-grid-item > a.grayscale:hover img {
  filter: grayscale(0);
}

.about {
  padding: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.global-footer {
  padding: 4rem 4rem 0 4rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-item-2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.footer-item-2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.about-item-3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.footer-item-3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.about-item-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  text-align: center;
  align-self: end;
}

.footer-item-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  text-align: center;
  align-self: end;
}

/* Only add styles below to make very minor adjustments for extra or extra-extra large devices */

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
}
