/* 

Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap"); /*Pixelfiy Sans, Silkscreen, Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); /*Inter*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,900;1,900&display=swap")
  /*Exo2*/
  /*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/
  @import url("make-something-fly.css");
@import url("animated-gradient.css");
@import url("text-stroke.css");
@import url("stroke-shadow.css");
@import url("scroll-to-top.css");
/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../assets/temp/up-cursor.png"), auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables. Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Poppins", sans-serif;
  --heading-typeface: "Silkscreen", sans-serif;
  --project-title-typeface: "Eczar", serif;
  /*primary colors*/
  --bg-color: white;
  --primary-color: #2167db;
  --secondary-color: #feda29;
  --dark-color: black;
  --transparent: rgba(0, 0, 0, 0);

  /*brand colors*/
  --blue1: #2167db; /*blue for white*/
  --blue2: #3f7adc; /*blue for black*/
  --yellow1: #feda29; /*brand yellow*/
  --light: white;
  --dark: black;

  --background-color: #f3f3f3;
  --background-color-about: #f3f3f3;
  --background-color-footer: #ffffff;
  --alt-background-color: #ffffff;
  --background-color-holding-page: #feda29;
  --h1-color: #000000;
  --h2-color: #000000;
  --h3-color: #000000;
  --h4-color: #000000;
  --h5-color: #000000;
  --h6-color: #000000;
  --primary-text-color: rgb(0, 0, 0);
  --holding-page-title-color: #ffffff;
  --accent-color: #feda29;
  --overlay-color: #feda29;
  --overlay-title-color: #ffffff;
  --overlay-description-color: #ffffff;
  --hyperlink-color: #d1a410;
  --hyperlink-alternate-color: #d1a410;
  --hover-color: #000000;
  --visited-color: #d1a410;
  --project-title-color: #000000;
  --project-sidebar-background-color: #ffffff;
  --project-maincontent-background-color: #3a3a3a;
  --project-sidebar-text-color: rgb(0, 0, 0);
  --heart-color: darkred;
  --holding-page-footer-color: #f8f8ff;
  --text-selection-background-color: #feda29;
  --linear-gradient-color-1: #ffffff;
  --linear-gradient-color-2: #ffffff;
  --linear-gradient-color-3: #feda29;
  --stroke-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg {
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2rem;
  font-family: var(--heading-typeface);
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--h1-color);
}

h2 {
  font-size: 2.25rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--h2-color);
}

h3 {
  font-size: 1.325rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--h3-color);
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--h4-color);
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--h5-color);
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--h6-color);
}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.875rem;
}

.hero-headline {
  color: var(--overlay-color);
}

.project-title {
  font-size: 3.725rem;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
}

.overlay-title {
  font-size: 2.875rem;
  color: var(--overlay-title-color);
}

.overlay-description {
  color: var(--overlay-description-color);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.heart {
  color: var(--heart-color);
}

.footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

.project-description {
  font-size: 1.225rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Nav

███    ██  █████  ██    ██ 
████   ██ ██   ██ ██    ██ 
██ ██  ██ ███████ ██    ██ 
██  ██ ██ ██   ██  ██  ██  
██   ████ ██   ██   ████                        

*/

/*nav burger icon*/
.burger-container {
  background: var(--transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0vw;
  z-index: 1;
}
#menu-toggle {
  display: none;
}

.menu-icon {
  --s: 5vw; /* size */
  --dark: black; /* color */
  --bg: #0000; /*background color*/

  height: var(--s);
  aspect-ratio: 4/3;
  border: none; /*changed from none*/
  margin: 0; /*changed by adding at all*/
  padding: 0; /*changed from 0*/
  border-inline: calc(var(--s) / 2) solid var(--bg); /*white mask that the bars fade into*/
  box-sizing: content-box;
  --_g1: linear-gradient(
      var(--dark) 20%,
      var(--transparent) 0 80%,
      var(--dark) 0
    )
    no-repeat content-box border-box; /*the 20% is top bar color 80% is bottom bar*/
  --_g2: radial-gradient(
      circle closest-side at 50% 12.5%,
      var(--dark) 95%,
      var(--transparent)
    )
    repeat-y content-box border-box; /*the rounded bits of the burger on top and bottom*/
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%,
    /*refers to background 1 and 3 which are the radial gradients for top and bottom bar first number the width of the gradient but visually refers to how close to the middle the dots are 100% equals in the middle. The second number refers to the height of the backgrounds. Because it is set to repeat-y if it is smaller than 100% you get a repeated background in the form of the bottom radial gradients  */
      50% 100%; /*similar concept above but for the top and bottom bars first is width again and second is height*/
  position: relative;
  /*clip-path: inset(0 25%);*/ /*defines which part of the element is visible by creating a clipping area. 0 means no clipping at the top or bottom 25% means 25% of the width is hidden on the left and right side. From what I can tell you can have it at 0% and it won't effect the animation. With it, it hides the border-inline bars that we used earlier to hide the bars disappearing*/
  -webkit-mask: linear-gradient(
    90deg,
    var(--transparent) 20%,
    #000 25% 75%,
    var(--transparent) 80%
  ); /*similar to clip-path but it creates a gradient */
  cursor: pointer;
  mask: linear-gradient(
    90deg,
    var(--transpa) 20%,
    #000 25% 75%,
    var(--transparent) 80%
  ); /* Standard */
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s), transform 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.menu-icon:before,
.menu-icon:after/*defines the bars that are in the middle and that will make up the x before is the bar the goes like \ and after goes like /*/ {
  content: "";
  position: absolute; /*These pseudo-elements are positioned relative to the .menu element (since the parent has position: relative*/
  border-radius: var(--s); /*rounds the corners*/
  inset: 40% 0; /*inset: 40% 0; places the pseudo-element 40% from the top and bottom of the parent element, leaving 0 space on the left and right. This ensures that the pseudo-element is vertically centered within the .menu and occupies full width.*/
  background: var(--dark); /*sets color of bar*/
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
} /* This section sets up the middle bar for the hamburger*/

.menu-icon:before,
.menu-icon:after {
  transform: rotate(0deg);
}

.menu-icon.open {
  clip-path: inset(0); /*removes any clip-path set earlier when in X form*/
  --_p: calc(-1 * var(--s));
  --_s: 0s;
  --_g1: linear-gradient(
    var(--transparent) 20%,
    var(--transparent) 0 80%,
    var(--transparent) 0
  );
}
.menu-icon.open:before {
  transform: rotate(36.36deg);
}
.menu-icon.open:after {
  transform: rotate(-36.36deg);
}
.menu-icon:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  mask: none;
  border: none;
  outline: 2px solid var(--dark);
  outline-offset: 5px;
}

/*logo colors*/
:root {
  --teeth: #fff;
  --outline: #2167db;
  --skin: #feda29;
}
.yellow {
  fill: var(--skin);
}
.yellow,
.cls-2,
.blue,
.white {
  stroke-width: 0px;
}
.cls-2 {
  fill: #000;
}
.blue {
  fill: var(--outline);
}
.white {
  fill: var(--teeth);
}
.cls-5 {
  display: none;
}

/*nav menu*/
.nav {
  position: sticky;
  top: 0px;
}
.custom-navigation {
  /*nav link font*/
  font-family: var(--heading-typeface);
}
.navwrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: var(--bg-color);
  padding: 2vw 5vw 2vw 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17vw;
  width: 100vw;
}
.logo-span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 17vw;
  pointer-events: all;
}
.home_logo {
  width: auto;
  height: auto;z
}
.logo img {
  width: auto;
  height: 13vw;
}
.logo object {
  width: auto;
  height: 15vw;
  /* display: none; */
}
.menu {
  list-style: none;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  padding-bottom: 0vw;
  margin-top: 17vw;
  margin-left: 35vw;
  width: 65vw;
  height: 50vh;
  display: flex; /*changed*/
  /*background: linear-gradient(90deg,#0000 0 40%,green 0);*/
  background: black;
  transition: all 0.4s ease-out 0s;
}

.menu li {
  text-align: center;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Start slightly below their final position */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}
.menu li:nth-child(1) {
  transition-delay: 0.3s;
}
.menu li:nth-child(2) {
  transition-delay: 0.6s;
}
.menu li:nth-child(3) {
  transition-delay: 0.9s;
}

/* On menu visibility change */
.menu.visible li {
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Move to final position */
}
/* default look */
.menu li a {
  font-size: calc(2rem + 2.5vw);
  display: flex;
  padding: 5vh;
  color: white;
  text-decoration: none;
}
/* Hover Styles*/
.menu li a:hover {
  color: var(--secondary-color);
  transition: all 0.4s;
}

/* Checkbox (menu toggle) hidden */
#menu-toggle {
  display: none;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
  margin-left: 100vw;
}
.menu.visuallyhidden li a {
  opacity: 0;
}

/* Home 

██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗  
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝                                            

*/

/*Intro

██ ███    ██ ████████ ██████   ██████  
██ ████   ██    ██    ██   ██ ██    ██ 
██ ██ ██  ██    ██    ██████  ██    ██ 
██ ██  ██ ██    ██    ██   ██ ██    ██ 
██ ██   ████    ██    ██   ██  ██████  

*/

.intro {
  margin: 4vw 12vw;
}
.intro-headline-wrapper {
}

/* Work Page Layout

██████  ██████   ██████       ██ ███████  ██████ ████████ ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██    ██      
██████  ██████  ██    ██      ██ █████   ██         ██    ███████ 
██      ██   ██ ██    ██ ██   ██ ██      ██         ██         ██ 
██      ██   ██  ██████   █████  ███████  ██████    ██    ███████ 

*/

.page-wrapper {
  flex: 1;
  margin: 0 10vw;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: 0.25rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  /* Required to contain overlay size */
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: var(--overlay-color);
  transition: opacity 0.3s, visibility 0.3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: 0.8;
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  background: var(--background-color-about);
  padding: 1rem;
  flex: 1;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.about-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.about-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  min-height: 50vh;
  background: var(--background-color-footer);
  padding: 1rem;
}

.footer-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.footer-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.footer-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.awards-list {
  margin-bottom: 2rem;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██    ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/
.project-logos {
  width: 30%;
}
.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Sidebar */
.project-aside {
  width: 96%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: var(--project-sidebar-text-color);
  background: var(--project-sidebar-background-color);
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  /* min-height should be deleted if you want to remove space between project images on project pages */
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-emoji-placeholder {
  font-size: 12rem; /* This is for making the placeholder emojis large and should be deleted */
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 96%;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-image: black;
  /* Delete the following if you do not want a gradient background on the project page */
  /* linear-gradient(
    -225deg,
    var(--linear-gradient-color-1) 0%,
    var(--linear-gradient-color-2) 90%,
    var(--linear-gradient-color-3) 100%
  ); */
}

/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/
.holding-page-svg {
  width: 70%;
  position: relative;
  z-index: -1;
}
.holding-page-link {
  z-index: 1;
  width: 100%;
}
.holding-page-span {
  display: flex;
  justify-content: center;
  width: 100%;
}
.holding-page-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
}

.holding-page-animation {
  grid-row-start: 1;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.holding-page-title {
  font-size: 1.5rem;
  color: var(--holding-page-title-color);
}

.holding-page-footer {
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: black;
}

.holding-page-copyright {
  font-size: 0.8rem;
  color: var(--holding-page-footer-color);
  margin-bottom: 0;
}

/*
███████╗████████╗██╗   ██╗██╗     ███████╗     ██████╗ ██╗   ██╗██╗██████╗ ███████╗
██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝    ██╔════╝ ██║   ██║██║██╔══██╗██╔════╝
███████╗   ██║    ╚████╔╝ ██║     █████╗      ██║  ███╗██║   ██║██║██║  ██║█████╗  
╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝      ██║   ██║██║   ██║██║██║  ██║██╔══╝  
███████║   ██║      ██║   ███████╗███████╗    ╚██████╔╝╚██████╔╝██║██████╔╝███████╗
╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝     ╚═════╝  ╚═════╝ ╚═╝╚═════╝ ╚══════╝
 */

.style-guide-page-wrapper {
  padding: 3rem;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

.error-page {
  display: grid;
  place-items: center;
}

.error-page-wrapper {
}

.error-page-inner-container {
  text-align: center;
}

.error-page-title {
  color: var(--accent-color);
}

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-wrapper {
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*
███████ ██   ██ ██████  ███████ ██████  ██ ███    ███ ███████ ███    ██ ████████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██ ██ ████  ████ ██      ████   ██    ██    ██      
█████     ███   ██████  █████   ██████  ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ 
██       ██ ██  ██      ██      ██   ██ ██ ██  ██  ██ ██      ██  ██ ██    ██         ██ 
███████ ██   ██ ██      ███████ ██   ██ ██ ██      ██ ███████ ██   ████    ██    ███████ 
*/

.experiments-page {
  display: grid;
  place-items: center;
}

.experiments-page-inner-container {
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experiments-page-title {
  color: var(--accent-color);
  font-size: 2rem;
}

.experiment-1-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
}

.experiment-2-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

.sub-navigation-item {
}

a.sub-navigation-link {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 1rem;
}

a.sub-navigation-link:hover {
  color: var(--accent-color);
  padding: 1rem;
}

/* Let's size the boxes */

.experiment-box {
  width: 50%;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.image {
  width: 40%;
}

/* Let's hide box 2 */

.experiment-image-2 {
  display: none;
}

.experiment-image-single {
  width: 20rem;
  padding: 2rem;
  display: grid;
  place-items: center;
}

#heyday-logo-blue {
  animation: rotation 9s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  /* Nav

    ██   █  ███  █   █ 
    █ ██ █ █████ █   █ 
    █   ██ █   █  ███

    */

  .navwrapper {
    flex-direction: row; /*changed*/
  }
  .navbar {
    height: 25vw; /*changed*/
    max-height: 21vh; /*changed*/
  }
  .logo-span {
    height: 15vw;
    max-height: 16vh;
  }
  .logo object {
    height: 23vw; /*changed*/
    max-height: 19.5vh; /*changed*/
    /* display: block; */
  }
  .logo img {
    display: none;
  }
  .menu-icon {
    --s: 3vw;
  }
  .menu-icon.open:before,
  .menu-icon.open:after {
    background-color: var(--light);
  }
  .menu li a {
    font-size: calc(1rem + 2.5vw);
  }
  .menu {
    margin-left: 60vw;
    width: 40vw;
    margin-top: 0vh;
    padding-top: 20vh;
    height: 100vh;
  }
  .visuallyhidden {
    margin-left: 100vw;
  }

  /* Work
    █     █  ████  ████  █  █ 
    █  █  █ █    █ ████  ███   
     ██ ██   ████  █   █ █  █ 
  */

  .holding-page-title {
    font-size: 2rem;
  }

  h1 {
    font-size: 4.275rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  .hero {
    min-height: 100vh;
  }

  .hero-headline-wrapper {
    padding: 4rem 8rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
  }

  /* Grayscale filter with full-colour on hover and tap */
  .work-page-grid-item a.grayscale img {
    filter: grayscale(100);
  }

  .work-page-grid-item > a.grayscale:active img,
  .work-page-grid-item > a.grayscale:hover img {
    filter: grayscale(0);
  }

  .about {
    padding: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .global-footer {
    padding: 4rem 4rem 0 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .footer-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .about-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .footer-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .about-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
  }

  .footer-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
  }

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 0.5rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;
  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    height: 70vh;
    position: -webkit-sticky;
    align-self: flex-start;
    position: sticky;
    top: 0vh;
    padding-right: 2rem;
    padding-bottom: 100vh;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: space-around;
  }
}

/* Only add styles below to make very minor adjustments for extra or extra-extra large devices */

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
}
